#header{

    height: 50px;
    background: #10284e;
    color: #fff;

}

#branding h1{

    color:#fff;
}

h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: rgb(14, 50, 214);
}

a:link,
a:visited {

    color: #10284e;

}

div.breadcrumbs {

    background: #30caa0;
    color: #333;
}

div.breadcrumbs a {

    color: #333;
}
.module h2, .module caption, .inline-group h2 {
    background-color: rgb(112, 156, 156);

}